# Flask Config
SECRET_KEY=supersecretkey
FLASK_ENV=production

# MongoDB Collection URLs
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/ecommerce_db?retryWrites=true&w=majority

# Gmail SMTP (App Password)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password

# Google OAuth Setup (From Google Cloud Console)
GOOGLE_OAUTH_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=your_google_client_secret

# Security Overrides (Use 0 for production so oauth doesn't fail HTTPs)
OAUTHLIB_INSECURE_TRANSPORT=0
